# Prerequisites
*.d

# folder
cmake-build-*/
build/
html/
latex/
.antlr/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# inner files
ir.txt
ast.png
asm.s

# history
.history

#clion
.idea/

# Visual Studio
.vs/